```gitignore
# Visual Studio cache / build files
**/.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results (all subfolders)
**/bin/
**/obj/

# NuGet
*.nupkg
*.snupkg
*.nuspec
*.psmdcp
*.nuproj
*.nuget.props
*.nuget.targets

# VS Code
.vs

# Others
*.db
*.sqlite
*.idx
```
